#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  width: 300px;
  background-color: #394C60;
  position: fixed;
  height: 100%;
  padding: 20px;
  top: 0;
  left: 0;
}

main {
  margin-top: 0;
  margin-left: 200px;
}

nav ul {
  list-style-type: none; /* Прибираємо крапки */
  padding: 0;
  margin-top: 50px;
  margin-left: 70px;
  text-align: left;
}

nav li a {
  color: white; /* Колір тексту для лінків */
  text-decoration: none;
  font-size: 23px;

}
nav li {
  margin-bottom: 20px;
}

nav li a:hover {
  color: #d3d3d3;
}

/*продукт*/

.products-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.product-title {
  font-weight: bold;
}

.product-price {
  color: #007BFF;
}
/*юзер*/
.users-list {
  list-style-type: none; /* Прибираємо крапки */
  padding: 0; /* Внутрішні відступи */
  margin: 0; /* Зовнішні відступи */
}

.user-item {
  display: flex; /* Використовуємо Flexbox для вирівнювання елементів */
  justify-content: space-between; /* Вирівнюємо текст по краях */
  padding: 10px; /* Внутрішні відступи для кожного користувача */
  border-bottom: 1px solid #ccc; /* Лінія розділу між користувачами */
}

.user-name {
  font-weight: bold;
  margin-right: 100px;
}

.user-email {
  color: #007BFF; /* Колір для електронної пошти */
}

